@media (max-width:1250px){
    .wrap {
        width: 90%;
        margin: 0px auto;

    }
 
    #banner h1 {
        width: 100%;
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card {
        width: 16.9%;
        margin: 1.44%;
    }
    .card p {
        display: block;
        width: 90%;
        margin: 0px auto;
        text-align: center;
    }

    #articles {
        width: 65%;

    }

    #articles article {
        width: 97%;
    }

    #footer .wrap > div{
        width: 24%;
    }

    #footer #browsers img {
        width: 14%;
    }

    #footer h5 {
        font-size: 30px;
    }
}

@media (max-width:1080px){
    .card .category {
        font-size: 17px;

    }
    .card .description {
        font-size: 14px;
        
    }
    #articles {
        width: 61%;
    }
}

@media (max-width:1004px){
    .card {
        width: 16.8%;
        margin: 1.44%;
    }
}

@media (max-width:983px){
    #articles {
        width:59%;

    }
    #footer h5 {
        font-size: 22px;
    }
    #footer .wrap > div{
        width: 26%;
        margin: 20px;
    }
}


@media (max-width:925px){
    #articles {
        width:65%;

    }
    #lateral {
        width: 25%;
    }
    #lateral input[type="text"] {
        width: 78%;
    }
    .aside-box {
        width: 95%;
        min-height: 140px;
        height: auto;
        padding-bottom: 12px;

    }
    #login a  {
        margin-top: 10px;
        margin-bottom: 10px;


    }

    #login input[type="email"],
    #login input[type="password"]{
        width: 65%;
    }

    #login #user,
    #login #password {
        margin-left: 24px;

    }

    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"], 
    #login button {
        margin-bottom: 0px;
    }

    #login input[type="reset"]{
        display: none;
    } 

}
@media (max-width:799px){
    #lateral h3 {
        font-size: 20px;
    }
}

@media (max-width:799px){
    #banner h1 {
        font-size: 29px;
    }
    .card{
        height: auto;
    }
    .card .category {
        font-size: 15px;
        margin-top: -23px;
    }
    .card .description{
        display: none;
        
    }
    #footer img {
        max-width: 100%;
        margin-bottom: 15px;

    }
}

@media (max-width: 724px){
    #header {
        width: 100%;
        height: 120px;
        padding-top: 10px;

    }
    #main {
        clear: both;
        float: none;
        width: 440px;
        margin: 0px auto;
    }
    #logo{
        float: none;
        width: 200px;
        margin: 0px auto;
    }
    #lateral input[type="text"] {
        width: 70%;
    }
}
@media (max-width:660px ){
    #banner h1 {
        font-size: 25px;
    }
    #lateral{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto ;
        margin-top: 20px;
    }
    #lateral input[type="text"] {
        width: 92%;
    }
    #login input[type="email"],
    #login input[type="password"]{
        width: 90%;
    }
    #articles {
        float: none;
        width: 100%;
        margin: 0px auto;

    }
    #footer {
        height: auto;
        padding-bottom: 40px;
    }
    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
    }
    #footer h5 {
        font-size: 25px;
    }


}

@media (max-width:617px){
    .card {
        width: 16.7%;
        margin: 1.44%;
    }
}

@media (max-width: 505px){
    #lateral input[type="text"] {
        width: 91%;
    }
}

@media (max-width:475px){
    #logo{
        float: left;
    }
    #header {
        width: 100%;
        height: 275px;
        padding-top: 10px;

    }
    #main {
        clear: both;
        float: none;
        width: 100%;
        margin: 0px auto;
    }
    #main ul li {
        width: 100%;
        line-height: 52px;
    }
    #main ul li a {
        width: 100%;
        line-height: 52px;

    }
    #main ul li:hover a {
        color: #37bcf9;
        transform: none;
    }



    #banner {
        height: 85px;
    }

    #banner h1 {
        font-size: 18px;
    }
    .card {
        width: 16.7%;
        margin: 1.43%;
    }
    .card .icon{
        font-size: 35px;
    }
    .card:hover .icon{
        font-size: 35px;

    }
    .card .category {
        font-size: 13px;
    }

    #lateral input[type="text"] {
        width: 85%;
    }

    #articles .data {
        float: none;
        margin: -10px;
        border-radius: 0px 0px 0px 0px;
    }
    #articles article h4 {
        margin-top: 20px;
    }
    #blog:hover {
        background-color: #333;
        border: 4px solid #37bcf9;
        border-radius: 0px;
        box-shadow: 0px 0px 10px gray;
        animation: none 10s infinite linear;
    }
} 
@media (max-width:453px){
    .card {

        width: 16.7%;
        margin: 1.40%;

    }
    #login #user, #login #password {
        margin-left: 14px;
    }
}

@media (max-width:400px) {
    .card {
        width: 19%;
        margin: 0.20%;
    }
}    
